/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: rgb(143, 41, 149);
}

.btn-primary {
    color: #fff;
    background-color: rgb(143, 41, 149);
    border-color: rgb(143, 41, 149);
}
    .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
        background-color: rgb(193 78 200) !important;
        border-color: rgb(193 78 200) !important;
    }


.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}


.btn-login {
    background-color: rgb(143, 41, 149);
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
}

    .btn-login:hover, .btn-login:active, .btn-login:focus {
        background-color: rgb(193 78 200) !important;
        border-color: rgb(193 78 200) !important;
    }


.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

    .form-signin .form-signin-heading,
    .form-signin .checkbox {
        margin-bottom: 10px;
        text-align: center;
    }

    .form-signin .checkbox {
        font-weight: normal;
    }

    .form-signin .form-control {
        position: relative;
        height: auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px;
        font-size: 16px;
    }

        .form-signin .form-control:focus {
            z-index: 2;
        }

    .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .form-signin btn {
        background-color: rgb(143, 41, 149);
    }

.filterable {
    margin-top: 15px;
}

    .filterable .panel-heading .pull-right {
        margin-top: -20px;
    }

    .filterable .filters input[disabled] {
        background-color: transparent;
        border: none;
        cursor: auto;
        box-shadow: none;
        padding: 0;
        height: auto;
    }

        .filterable .filters input[disabled]::-webkit-input-placeholder {
            color: #333;
        }

        .filterable .filters input[disabled]::-moz-placeholder {
            color: #333;
        }

        .filterable .filters input[disabled]:-ms-input-placeholder {
            color: #333;
        }

select option {
    color: black;
}

    select option:first-child {
        color: grey;
    }

select.empty {
    color: grey;
}
/* Hidden placeholder */
select option[disabled]:first-child {
    display: none;
}

/*.container {
    width: 1024px;
    padding: 2em;
}*/
/*html, body {
    height: 100%;
}
*/
.container-fluid {
    margin: 0 auto;
    height: 100%;
    padding: 20px 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*.bootstrap-table {
    height: 100%;
}
*/
.bold-blue {
    font-weight: bold;
    color: #0277BD;
}

@media print {
    .noPrint {
        display: none;
    }
}